

header
  height 50px
  text-align: center
  background-color #1296db

.container
  margin-top 100px
  .head-img
    width: 100px
    margin: 0 auto
    text-align: center
    img
      width: 100px
      height 100px
      border-radius: 50%
    p
      margin-top 20px
    